// Ensure that everything is transparent,
// so that the chat page can be seen through the stage
* {
  background-color: transparent !important;
  overflow: hidden !important;
}

button, input, select, textarea {
  font-family: inherit;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
